body {
	font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #000000;
    background-color: #ffffff;
}

.items {
	display: block;
	margin: 80px 40px;
	padding: 0;
	/*background: #f7f7f7;*/
}

.uk-nestable ul {
	margin-left: 0px;
	padding-left: 30px;
	/*background: #fafafa;*/
}

.uk-nestable ul ul {
	border-left: 1px dashed #dadada;
}

.uk-nestable li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.uk-nestable li .item-title {
	padding: 5px 10px;
	margin-top: 3px;
}

.uk-nestable ul li .item-title {
}


.uk-nestable .icon {
	width: 15px;
	height: 15px;
	margin-right: 5px;
	display: inline-block;
}

/*.uk-nestable-placeholder .uk-nestable,
.uk-nestable-dragged .uk-nestable {
	display: none;
}*/

.uk-nestable-collapsed.uk-nestable {
	display: none;
}

.btn-group {
	float: right;
}

.btn-default {
	display: inline-block;
}

textarea,
pre {
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
}

.docheader-row2-left {
	padding: 20px;
}
